.timer-container {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1% 3%;
  width: 30vw;
}

.timer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  text-align: center;
  border-radius: 3em;
  width: 100vw;
}

.timer-headStyle {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1em;
  justify-content: center;
}

.timer-icon {
  height: 2.5em;
  width: 2.5em;
  margin: 0.3em 1em;
}

.timer-heading {
  padding-top: 0.4em;
}

.time-container {
  display: flex;
  justify-content: center;
}

.time {
  padding: 0em 0.6em;
}

.time-number,
.time-colon {
  font-weight: 380;
  padding: 0.05em;
  font-size: 3em;
}
.time-text {
  font-size: medium;
  font-weight: 300;
  color: rgb(186, 181, 181);
}
