@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}
.fw-medium {
  font-weight: 500;
}
.fw-semibold {
  font-weight: 600;
}
.fw-bold {
  font-weight: 700;
}
.nav-text{
  font-size: 24px;
  color: #ff8106 !important; 
}
.text-black-primary {
  color: #333;
}
.text-black-secondary {
  color: #666;
}
.scale-up {
  transform: scale(1.2);
}
.linear-gradient-body {
  background: linear-gradient(287.83deg, #fed1a2, rgb(254, 209, 162));
}
/* .linear-gradient-body {
  background: linear-gradient(
    287.83deg,
    #8d99ae 32.33%,
    rgba(237, 242, 244, 0) 91.61%
  );
} */
.locate-floor {
  right: 0;
  transform: translate(40%, 0%);
}
.with-fit-content {
  width: fit-content;
}

.btn-color{
  background-color: #2d5bc5;
  border-radius: 10px;
}

.cardtext{
  font-size: 64px;
  width: 120px;
  font-weight: bold;
  text-align: center;
  background-color: #fde9d5;
 
  padding: 0;
}
.ccard{
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.cardlabel{
  font-size:24px;
  width: 120px;
  padding-top: 15px;
  text-align: center;
  color: #fff;
  padding-bottom: 15px;
  background-color: #ff8918;
}
/* Color Pallete */
.gunmetal {
  font-size: 86px;
  color: #ff8918;
}
.cool-grey {
  background-color: #8d99ae;
}
.anti-flash-white {
  background-color: #f4efed;
}
.medium-candy-apple-red {
  background-color: #d90429;
}

.text-gunmetal {
  color: #2b2d42;
}

.imgsize{
  height: 70px;
}
.head-text{
  font-size:70px;
}

.nav-item{
  margin-left: 30px;
  position: relative;
  left: 50px;
}
.nav-link{
  transition: all ease-in-out .2s;
}

.nav-link:hover{
  text-decoration: underline;
  font-size: 27px;
}

.hero-img{
  position: relative;
  left: 50px;
  bottom: 100px;
  pointer-events: none;
}
.timer-head{
  text-align: center;
  font-size: 20px;
  font-weight: 600;

}
.flipdown{
  margin-bottom: 30px;
  
}

.h1 span{
  font-size: 4rem;
}
/* media queries */

@media only screen and (max-width: 600px) {
  .scale-down {
    width: 170%;
  }
}

@media only screen and (max-width: 768px) {
  .width-100-important {
    width: 100% !important;
  }
  .scale-up {
    transform: scale(1);
  }
}

@media only screen and (min-width: 992px) {
  .scale-down {
    width: 200%;
  }
}