.hero-btns{
	margin-left: 1rem;

}
.register-icon{
	margin-right: 10px;
}


@media only screen and (max-width: 600px){
	.hero-container{
		margin-top: 10rem;
	}
	.hero-title{
		text-align: center;
		font-size: 40px;
	}
	.hero-btns{
		display: grid;
		width: 12rem;
		margin: 0 auto;
		

	}
	.register-btn{
		margin-bottom: 20px;
		border-radius: 50px;
	}
	.discord-btn{
		border-radius: 50px;
	}
	

}
@media only screen and (min-width: 992px){
	.register-btn{
	margin-right: 30px;
}
	}
