<section id="contact" class="section-padding bg-gray contactSection" data-aos="fade-up" data-aos-duration="1500">
		<div class="text-center Contactsec">
			<div class="section-header Contactsec text-center">
					  <h2 class=" wow fadeInDown" data-wow-delay="0.3s">Contact Us</h2>
					  <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
				  </div>
			  <div class="row">
				  <div class="col-md-6">
					  <form class="mt-5" id="contactForm">
						  <div class="form-row">
							  <div class="form-group col-md-6 ">
								<input type="text" class="form-control" id="inputName"  placeholder="Name">
							  </div>
							  <div class="form-group col-md-6 ">
							  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
							  </div>
							</div>
						  <div class="form-group ">
							<input type="text" class="form-control" id="subj" placeholder="Subject" required>
						  </div>
						  <div class="form-group">
						   <textarea class="form-control" id="msg" rows="5" placeholder="Your Message" required></textarea>
							</div>
						  <button class="Cbtn text-light float-left" id="checkBtn" type="submit">Submit</button>
						  <br>
						  <div id="msgSubmit" class="h3 text-left hidden"></div>
						  <br><br>
						</form>
						</div>
				  <div class="col-md-6 text-center">
					  <img class="image-fluid bg-cont" src="/assets/img/pngtree-contact-us-flat-design-style-png-image_2766546-removebg-preview.png">
				  </div>
			  </div>
		  </div>
	</section>
